body {
  margin: 0;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
}

#container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: none;
  clear: both;
  margin: 0 auto 20px;
  max-width: 100%;
  padding: 10px;
  text-align: left;
}

/*thank you container*/

.service{
  margin-bottom: 0px;
  background-color: #fae1d2;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 0px;
}

.text-center{
  text-align: center;
}

.scrollbar{
   overflow: scroll;
   height: 200px;
   padding-left: 50px;
   text-align: justify;
   font-size: 12px;
   overflow-x: hidden;
}

@media only screen and (max-width: 767px){
  .scrollbar{
    padding-left: 10px;
  }
}

.offerdata{
  margin-top: 3px;
}

@media only screen and (max-width: 767px){
  .offerdata{
  margin-top: 50px;
}
}

.imageland {
  height: 100px;
  width: 100%;
  margin-top: -10px;
  display: block;
}

@media only screen and (max-width: 767px){
 .imageland{
   display: none;
  }
}

/*landing page image mobile view */

.imagelandmobile{
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 768px ) and (max-width: 2210px){
  .imagelandmobile{
    display: none;
  }
}

.imagelandmobile2{
  height: 100%;
  width: 100%;
  marigintop: -30px;
  marginbottom: ;
}
@media only screen and (min-width: 768px ) and (max-width: 2210px){
  .imagelandmobile2{
    display: none;
  }
}
.margin{
  margin-top: -25px;
}
 .margin1{
   margin-top: -10px;
 }

 b{
   font-size: 15px;
   color: black;
   font-weight: 1000;
 }
